<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mi Perfil</mat-card-title>
      <mat-card-subtitle>Usuario: {{userName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>Roles:</h2>
      <mat-list *ngFor="let rol of roles" role="list">
        <mat-list-item role="listitem">{{rol}}</mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>