<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">

    <mat-form-field>
        <input type="text" class="input-paciente" placeholder="Paciente" required matInput [matAutocomplete]="autoPaciente"
            [formControl]="myControlPaciente" formControlName="paciente">
    </mat-form-field>
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente" 
        (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete>

    <button mat-raised-button (click)="abrirDialogo()" color="primary" type="button">
        <mat-icon>accessibility</mat-icon>
        <span>Nuevo Paciente</span>
    </button>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" required placeholder="Escoge una fecha" [max]="maxFecha"
        formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Temperatura" required formControlName="temperatura">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Pulso" required formControlName="pulso">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Ritmo respiratorio" required formControlName="ritmoRespiratorio">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signo-vital' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
